<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      
        
        <a href="{{ .Site.BaseURL }}"><img src="/img/SveGo_Logo.jpg" title="SveGo"/></a>
        
      <div class="hrB"></div>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> <b>{{ .Name }}</b> <br/> {{ .Pre }}</a></li>
        <div class="hrB"></div>
      {{end}}
    </ul>
      <a>+49 (0)681 940 928-0</a>
<div class="hrB"></div>
            <a>info@svego.eu</a>
      <br/><br/>

      <span class="fuss">
          <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. SveGo - 
              Alle Rechte vorbehalten {{end}}</p><a href="/impressum">IMPRESSUM</a>
      </span>
  </div>
</div>
