{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="slidecont">
    <div class="cb-slideshow">
        <li><span>Image 01</span></li>
	   <li><span>Image 02</span></li>
	   <li><span>Image 03</span></li>
    </div>
    <div class="content container upslide">

       
Herzlich willkommen zum Internetauftritt der Firma SveGo, ihr verlässlicher Partner im den Bereichen Facility Management und Winterdienst im Saarland.
<br/><br/>
Wir bieten Erdbewegungen, Winterdienst und Facility Management für Gemeinden, Unternehmen und private Haushalte. Wir laden Sie herzlich dazu ein sich auf den folgenden Seiten über unser Angebot zu informieren.
    </div>
                                  
</div>

  </body>
</html>
