{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

 
    <div class="content container">
    
    <div class="slidecont">
        <div  class="homeText">
           <h1> Winterdienst, Strassenbau und Erdbewegungen</h1>
            <p>Willkommen zum Internetauftritt des <b>Meisterbetrieb</b> SveGo, ihr verlässlicher Partner im den Bereichen Erdbewegungen, Wegebau, Strassenbau und Winterdienst im Saarland. Wir bieten Erdbewegungen und Winterdienst für Gemeinden und Unternehmen. Wir laden Sie herzlich dazu ein sich auf den folgenden Seiten über unser Angebot zu informieren.</p>
           </div>
       
     <div class="css-slideshow "> 
  <figure> 
    <img src="/img/erdbeweg/IMG_1924.jpg" width="495" height="370" alt="Baugrubenaushub, Abbrucharbeiten und Planierungsarbeiten." title="Erdbewegungen"/> 
  </figure> 
  <figure> 
    <img src="/img/winter.jpg" width="495" height="370" alt="Reinigung von Bürgersteigen, Höfen und Parkplätzen." title="Objektpflege"/> 
  </figure> 
  <figure> 
    <img src="/img/erdbeweg/IMG_1923.jpg" width="495" height="370" alt="Schneeräumen, streuen und Winterdienst." title="Winterdienst"/> 
  </figure> 
</div>
    
    
    
    </div>
                                  
</div>
  </body>
</html>
