{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

 
    <div class="content container">
    
    <div class="slidecont">
        <div  class="homeText">
            Willkommen zum Internetauftritt der Firma SveGo, ihr verlässlicher Partner im den Bereichen Facility Management und Winterdienst im Saarland. Wir bieten Erdbewegungen, Winterdienst und Facility Management für Gemeinden, Unternehmen und private Haushalte. Wir laden Sie herzlich dazu ein sich auf den folgenden Seiten über unser Angebot zu informieren.
           </div>
       
     <div class="css-slideshow "> 
  <figure> 
    <img src="/img/dumper1.jpg" width="495" height="370" alt="Baugrubenaushub, Abbrucharbeiten und Planierungsarbeiten." title="Erdbewegungen"/> 
  </figure> 
  <figure> 
    <img src="/img/kehrmaschine.jpg" width="495" height="370" alt="Reinigung von Bürgersteigen, Höfen und Parkplätzen." title="Objektpflege"/> 
  </figure> 
  <figure> 
    <img src="/img/winter1.jpg" width="495" height="370" alt="Schneeräumen, streuen und Winterdienst." title="Winterdienst"/> 
  </figure> 
</div>
    
    
    
    </div>
                                  
</div>

  </body>
</html>
